@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');


* {
  padding: 0;
  margin: 0;
}
.body {

  font-family: "Poppins", sans-serif !important;

}

.carros {
  width: 80%; 

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
}

.header {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #000;
}

.header img {
  width: 150px;
  margin-left: 20px;
  position: relative;
  top: -100px;
}


 .header::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin-top: -150px;
} 

.contentVn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, #000000, #FF0000);
  width: 600px;
  height: 400px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgb(240, 235, 235);
  padding: 20px;
}

.text {
  text-align: left; 
  color: #fff;
  width: 100%; 
  font-family: "Poppins", sans-serif !important;

}

.text h1 {
  font-size: 2em;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif !important;

}

.text h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif !important;

}

.buttons {
  display: flex;
  margin-bottom: 20px;
  width: 15%;
  position: absolute;
  left: 56%;
  gap: 1rem;
  flex-direction: column;

}
.buttons {
  display: flex;
  margin-bottom: 20px;
  width: 13%;
  position: absolute;
  left: 57%;
  gap: 1rem;
  flex-direction: column;

}

.button {
  background: linear-gradient(to top, #cd1a1a, #FF0000);
  color: #ffffff;
  border: none;
  width: 95%;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(255, 255, 255);
  border: .25em solid var(--glow-color);
  font-size: 18px;
  font-weight: bold;
  /* border-radius: 1em; */
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color), 0 0 4em 1em var(--glow-spread-color), inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  transition: all 0.3s;
  cursor: pointer;
  left: 55%;
}





 button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);

} 

button:hover {
  background: linear-gradient(to top, #690101, #FF0000);

  box-shadow: 
  0 0 20px rgba(255, 0, 0, 1), /* Luz mais intensa */
  0 0 30px rgba(255, 0, 0, 0.7), /* Luz secundária */
  0 0 50px rgba(255, 0, 0, 0.5); /* Luz difusa mais intensa */
transform: scale(1.05); /* Aumenta ligeiramente o tamanho do botão */
  transform: scale(1.05); /* Aumenta ligeiramente o tamanho do botão */

}

button:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
      0 0 2.5em 2em var(--glow-spread-color),
      inset 0 0 .5em .25em var(--glow-color);
}
